html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

th {
  text-align: center;
}

footer {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

textarea {
  outline: none;
  resize: none;
  overflow: auto;
}
#external-events {
  width: 80%;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
}

.Calendar table th,
.Calendar table td {
  border-color: #515151;
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  text-align: center;
  margin: 40px auto;
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.8;
}

.navbar {
  margin-bottom: 2em;
}

.navbar-brand a {
  color: #7f7f7f;
  text-decoration: none;
}

.card {
  margin-bottom: 2em;
  height: 200px;
}

.card a.btn {
  display: block;
  position: absolute;
  bottom: 1.25rem;
  width: 86%;
}

.page-header {
  color: #db9e23;
  text-align: center;
  margin-bottom: 1em;
}

.days-in-school-num {
  border-bottom: 1px solid #db9e23;
  display: inline-block;
  text-align: center;
  width: 65px;
}

.days-in-school-table {
  margin-top: 16px;
  table-layout: fixed;
  width: 100%;
}

.days-in-school-table th {
  text-align: center;
  font-size: 1.2em;
}

.days-in-school-table td {
  width: 33%;
}

.days-in-school-droppable {
  position: relative;
  height: 225px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  background: #fff;
}

.days-in-school-droppable > .days-in-school-draggable-unit,
.days-in-school-droppable > .img-unit-draggable {
  transform: none !important;
}

.days-in-school-droppable .img-unit {
  background: #5f8ad5;
  margin: 5px;
  border-radius: 5px;
  max-width: 95%;
}

.days-in-school-draggable-unit {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.fade-in {
  animation: fadein 2s;
}

.fill-in-the-blank {
  border-bottom: 2px solid;
  display: inline-block;
  text-align: center;
  width: 75px;
  height: 50px;
  margin-bottom: -12px;
}

.fill-in-the-blank > .weather-draggable {
  transform: none !important;
}

.weather-table.table-bordered {
  border: 2px solid #85878a;
  margin-top: 20px;
}
.weather-table.table-bordered > thead > tr > th,
.hundreds-chart.table-bordered > thead > tr > th {
  border: 2px solid #85878a;
}
.weather-table.table-bordered > tbody > tr > td,
.hundreds-chart.table-bordered > tbody > tr > td {
  border: 2px solid #85878a;
}
.weather-table.table-bordered > tfoot > tr > th,
.hundreds-chart.table-bordered > tfoot > tr > th {
  border: 2px solid #85878a;
}

.weather-droppable {
  margin-bottom: 8px;
}

.weather-draggable {
  display: inline-block;
  width: 125px;
  background: #fff;
  margin-bottom: 8px;
  color: #212529;
  font-size: 16px;
}

.border-2 {
  border-width: 2px !important;
}

.hundreds-chart td {
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
}

.hundreds-chart .number {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.ghosty {
  color: white !important;
  border-bottom: 2px solid #7a7a7a !important;
}

.fc-toolbar h2 {
  font-size: 2.5em !important;
  margin-left: -2em !important;
}

.fc-day {
  cursor: pointer;
}

.fc-day-top {
  text-align: center;
}

.fc-day-number {
  float: none !important;
  font-size: 1.2em;
  font-weight: bold;
}

.fc-event {
  background: #fff !important;
  color: #000 !important;
  padding: 6px;
}

.fc-event-container a.fc-event {
  border: none !important;
}

.fc-day,
.fc-day-top {
  cursor: pointer;
}
.fc-other-month .fc-day-number {
  visibility: hidden !important;
}

.fc-day-number {
  font-size: 1.7em !important;
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    margin: 0 auto 16px auto;
  }
  .hundreds-chart {
    table-layout: fixed;
  }
  .hundreds-chart td {
    padding: 0.3rem;
  }
}

@media only screen and (max-width: 500px) {
  .fill-in-the-blank {
    display: block;
    margin: 0 auto;
  }
  .hundreds-chart td {
    font-size: 0.9em;
  }
}
